*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 89, 255, 0.39);
}

.flex-container{
    /* height: 500px; */
    display: flex;
    background-color:  #f4f4f4;
    /* will work only in the main axes */
    justify-content: start;

    /* Aligment in the cross axis */
    align-items:center;

   /*  flex-wrap: wrap; */
}


.item {
    /* flex basis */
    flex-basis: 300px;
    flex-grow: 1;
    height: 100px;
    background-color: #254de4;
    color: #fff;
    margin: 10px;

    /* To align content inside of the box */
    display: flex;
    justify-content: center;
    align-items: center;
}


.item:nth-of-type(1){
   /*   order: 2; */
   /* flex-grow: 1; */
   flex-shrink: 1;
}
.item:nth-of-type(2){
   /* order: 1; */
   /* flex-basis: 400px; */
  /*  flex-grow: 3; */
  flex-shrink: 1;
}
.item:nth-of-type(3){
    /* order: 3; */
   /*  flex-basis: 200px; */
   /* flex-grow: 1; */
   flex-shrink: 1;
}

.item:nth-of-type(4){
    flex-shrink: 1;
}



