*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 89, 255, 0.39);
}

.flex-container{
    /* height: 500px; */
    display: flex;
    background-color:  #f4f4f4;
    /* will work only in the main axes */
    justify-content: start;

    /* Aligment in the cross axis */
    align-items:center;

    flex-wrap: wrap;
}


.item {
    width: 100px;
    height: 100px;
    background-color: #254de4;
    color: #fff;
    margin: 10px;

    /* To align content inside of the box */
    display: flex;
    justify-content: center;
    align-items: center;


}


.item:nth-last-of-type(1){
     
}
.item:nth-last-of-type(2){
   ;
}
.item:nth-last-of-type(3){
    
}


